.help-block {
  color: #c3c3c3;
}
.label {
  font-weight: 400;
}
label .normal {
  font-weight: normal;
}
.label-info {
  background-color: rgba(0, 0, 0, 0.6);
}
.panel {
  background-color: transparent;
}

.project-fields .form-group {
  margin-bottom: 3em;
}

.profile-picture {
  width: 1em;
  height: 1em;
}
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
}

.repeater {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  overflow-x: auto;
}
.repeater .projectTile {
  position: relative;
  width: 192px;
  height: 192px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  flex-shrink: 0;
  flex-grow: 0;
}
.repeater .projectTile:first-child,
.repeater .projectTile:last-child {
  margin: 0;
}
.repeater .projectTile img {
  position: absolute;
  width: 192px;
  height: 192px;
}
.repeater .projectTile .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  color: #fff;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 1em;
}
.repeater .projectTile:hover .overlay {
  opacity: 100;
}

footer {
  width: 375px;
  color: #ccc;
  margin-bottom: 3em;
}

footer hr {
  margin: 2.5em 0 0.5em 0;
  padding-top: 0.5em;
  border-top: 1px solid #bbb;
}

footer .logo {
  background-image: url('../images/cc.svg');
  background-size: 385px;
  background-repeat: no-repeat;
  background-position: -21px 0px;
  padding-top: 265px;
}

body {
  background: linear-gradient(0deg, rgba(69, 150, 73, 1), rgba(69, 150, 73, 0.5) 100%);
  min-height: 100%;
}
body > .wrapper > .container {
  color: #fff;
}

.tile-section {
  margin-top: 3em;
}

.tile-section > label {
  margin-bottom: 1em;
}

.comps {
  display: flex;
  flex-direction: row;
}
.comps-outer.container {
  padding: 0;
}
.comps .comp {
  text-align: center;
  font-size: 1.7em;
  position: relative;
}
.comps .comp img {
  width: 285px;
  margin-bottom: 1em;
}
.comps .arrows {
  font-size: 0.85em;
  bottom: 9px;
  right: -18px;
  position: absolute;
}

.home-wrapper {
  text-align: center;
  margin: 0 auto;
  float: none;
}
.home-wrapper .subtitle {
  margin: 2em 0 1em 0;
}
