<h1 class="title">Collaborate</h1>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Filters</h3>
    </div>
    <div class="panel-body">
      <form method="post" class="form-horizontal clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
               <label for="filterForMe" class="control-label col-sm-4">Filter for me</label>
               <div class="col-sm-8">
                <input type="checkbox" class="form-control" data-toggle="toggle" id="filterForMe" checked />
              </div>
            </div>
            <div class="form-group">
              <label for="filterSkill" class="control-label col-sm-4">Skill</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="filterSkill" placeholder="e.g. Welding">
              </div>
            </div>
            <div class="form-group">
              <label for="filterLocation" class="control-label col-sm-4">Location</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="filterLocation" placeholder="e.g. Canada">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="filterProjectName" class="control-label col-sm-4">Search for project</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="filterProjectName" placeholder="e.g. Super Cool Project">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label col-sm-2">Timeframe</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type="radio" name="filterTime" id="filterTimeNone" value="none" checked> all
              </label>
              <label class="radio-inline">
                <input type="radio" name="filterTime" id="filterTimeWeek" value="week" checked> a week
              </label>
              <label class="radio-inline">
                <input type="radio" name="filterTime" id="filterTimeMonth" value="month"> a month
              </label>
              <label class="radio-inline">
                <input type="radio" name="filterTime" id="filterTime6Months" value="6months"> 6 months
              </label>
              <label class="radio-inline">
                <input type="radio" name="filterTime" id="filterTimeYear" value="year"> a year
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

    <div class="tile-section" id="recommended">
      <label class="form-label">Recommended for me</label>
      <div class="repeater"></div>
    </div>

    <div class="tile-section" id="featured">
      <label class="form-label">Featured projects</label>
      <div class="repeater"></div>
    </div>

    <div class="tile-section" id="trending">
      <label class="form-label">Trending projects</label>
      <div class="repeater"></div>
    </div>
</div>

<script type="text/javascript">
CollabCreate.pageReady.collaborate = function() {
  jQuery('#filterForMe').bootstrapToggle();

  var projects = [];
  var params = {};
  var Project = Parse.Object.extend("Project");
  var query = new Parse.Query(Project).find({
    success: function(results) {
      results.forEach(function (project) {
        projects.push({
          id: project.id,
          name: project.get('name'),
          shortBio: project.get('shortBio'),
          imageUrl: project.get('displayPicture') ? project.get('displayPicture')._url : ""
        });
      });

      var compiledTemplate = Handlebars.getTemplate('projectTile');
      params.projects = _.sample(projects, 5);
      var renderedHtml = compiledTemplate(params);
      jQuery('#recommended .repeater').html(renderedHtml);

      var compiledTemplate = Handlebars.getTemplate('projectTile');
      params.projects = _.sample(projects, 5);
      var renderedHtml = compiledTemplate(params);
      jQuery('#featured .repeater').html(renderedHtml);

      var compiledTemplate = Handlebars.getTemplate('projectTile');
      params.projects = _.sample(projects, 5);
      var renderedHtml = compiledTemplate(params);
      jQuery('#trending .repeater').html(renderedHtml);
    },
    error: function(error) {
      alert("Error: " + error.code + " " + error.message);
    }
  });
};
</script>
