<h1 class="title">Create a Project</h1>
<div class="project-fields">
	<form id="createForm">
		<div class="form-group">
  		<label for="projectTitle">Project Title</label>
  		<input type="text" class="form-control" name="projectTitle">
		</div>
		<div class="form-group">
			<label for="shortDesc">Short Description (140 characters max)</label>
  		<textarea class="form-control" name="shortDesc" rows="3"></textarea>
 		</div>
 		<div class="form-group">
  			<label for="fullDesc">Full Description</label>
    		<textarea class="form-control" name="fullDesc" rows="3"></textarea>
 		</div>
 		<div class="form-group skills">
  		<label for="skillList">Skills Needed</label>
  		<input type="text" class="form-control skills-autocomplete" name="skillList" placeholder="Add a new skill..." />
  		<br/>
  		<div class="skill-tags">
			</div>
		</div>
		<div class="form-group locations">
  		<label for="setLocation">Set Location(s)</label>
  		<input type="text" class="form-control" id="setLocation" placeholder="e.g. Boston, London, Europe, etc...">
		</div>
		<div class="form-group">
			<label>Time Frame</label><br/>
  		<label class="radio-inline">
  		  <input type="radio" name="timeFrame" id="infinite" value="infinite"> Infinite!
  		</label>
  		<label class="radio-inline">
  		  <input type="radio" name="timeFrame" id="oneWeek" value="oneWeek"> ~ a week
  		</label>
  		<label class="radio-inline">
  		  <input type="radio" name="timeFrame" id="oneMonth" value="oneMonth"> ~ a month
  		</label>
  		<label class="radio-inline">
  		  <input type="radio" name="timeFrame" id="sixMonths" value="sixMonths"> ~ 6 months
  		</label>
  		<label class="radio-inline">
  		  <input type="radio" name="timeFrame" id="oneYear" value="oneYear"> ~ a year
  		</label>
  	</div>
  	<div class="form-group">
    		<label for="media">Attach Photos</label>
    		<input type="file" id="media">
    		<p class="help-block">The first image uploaded will be used as the profile picture</p>
  	</div>
  	<button type="submit" class="btn btn-default">Create</button>
	</form>
</div>

<script type="text/javascript">
initializeSkillsAutocomplete();
initializeSkillsRemove();

CollabCreate.pageReady.create = function() {

  jQuery('#createForm').submit(function(e) {
    var title = jQuery('input[name=projectTitle]').val();
    var shortDesc = jQuery('textarea[name=shortDesc]').val();
    var fullDesc = jQuery('textarea[name=fullDesc]').val();
    var location = jQuery('input[name=setLocation]').val();
    //var time = jQuery('input[name=timeFrame]').val();
    //var media = jQuery('input[name=media]').val();

    var skills = [];
    jQuery(".skill-tags a").each(function () {
      skills.push(jQuery(this).attr("data-value"));
    });

    var Project = Parse.Object.extend("Project");
  	var project = new Project();

  	project.set("name", title);
  	project.set("location", location);
  	project.set("longBio", fullDesc);
  	project.set("shortBio", shortDesc);
  	//project.set("media", [media]);
  	//project.set("displayPicture", media);
  	project.set("skillsNeeded", skills);
  	//project.set("timeframe", time);

  	project.save(null, {
  	  success: function(project) {
  	    // Execute any logic that should take place after the object is saved.
  	    alert('New object created with objectId: ' + project.id);
  	  },
  	  error: function(project, error) {
  	    // Execute any logic that should take place if the save fails.
  	    // error is a Parse.Error with an error code and message.
  	    alert('Failed to create new object, with error code: ' + error.message);
  	  }
  	});

  	e.preventDefault();
  	return false;
  });
};
</script>
