<div class="comps-outer container">
  <div class="comps">
    <div class="comp">
      <img src="images/iPhone Comps_01.png" /><br />
      Open App
      <div class="arrows">
        <em class="glyphicon glyphicon-menu-right"></em><em class="glyphicon glyphicon-menu-right"></em>
      </div>
    </div>

    <div class="comp">
      <img src="images/iPhone Comps_02.png" /><br />
      Browse Projects
      <div class="arrows">
        <em class="glyphicon glyphicon-menu-right"></em><em class="glyphicon glyphicon-menu-right"></em>
      </div>
    </div>

    <div class="comp">
      <img src="images/iPhone Comps_03.png" /><br />
      Not Interested
      <div class="arrows">
        <em class="glyphicon glyphicon-menu-right"></em><em class="glyphicon glyphicon-menu-right"></em>
      </div>
    </div>

    <div class="comp">
      <img src="images/iPhone Comps_04.png" /><br />
      Collaborate!
    </div>
  </div>
</div>
