<div style="text-align:center;">
	{{#if authenticated}}
		<p>You joined. You're so awesome.</p>
	{{else}}
		<h1 class="title">Bridging the gap between talented makers and creative minds to build a community around projects.</h1>
	{{/if}}
</div>
