<div class="home-wrapper col-md-10">
	{{#if authenticated}}
		<h1>We're glad you joined us.</h1>
		<p>Use the links above to create a project or start collaborating with other makers on existing idea.</p>
	{{else}}
		<h1 class="title">Bridging the gap between talented makers and creative minds to build a community around projects.</h1>
		<h3 class="subtitle">How does it work?</h3>
		<p class="description">
		If you're a maker, we want to connect you with interesting ideas that match your talents.<br />
		If you have an idea but lack the specific talent, we got you covered - we'll connect you with local talent to ensure your best ideas see the light of day.
		</p>
	{{/if}}
</div>
